/*!
Theme Name: 	Weichie.com Wordpress Theme
Description: 	A custom WordPress theme started from the Weichie.com base template
Version: 		  2.2
Author: 		  Weichie.com
Tags: 			  WordPress, custom, theme
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Prompt", sans-serif;
  src: url("../fonts/georgex-regular.woff2") format("woff2"), url("../fonts/georgex-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: battery-park, sans-serif;
  src: url("../fonts/suisse-bp-intl-regular.woff2") format("woff2"), url("../fonts/suisse-bp-intl-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: battery-park, sans-serif;
  src: url("../fonts/suisse-bp-intl-light.woff2") format("woff2"), url("../fonts/suisse-bp-intl-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: battery-park, sans-serif;
  src: url("../fonts/suisse-bp-intl-ultralight.woff2") format("woff2"), url("../fonts/suisse-bp-intl-ultralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

body {
  font-size: 1.6rem;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: battery-park, sans-serif;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

button {
  color: inherit;
  background: none;
  outline: none;
  cursor: pointer;
  border: none;
}

img {
  vertical-align: middle;
}

.header-wordpress {
  width: 100%;
  padding: 4rem 5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 100;
}

.header-wordpress__nav li {
  position: relative;
}

.header-wordpress__nav li:hover .sub-menu {
  display: block;
}

.header-wordpress__nav a {
  text-transform: uppercase;
  font-family: "Prompt", sans-serif;
  font-size: 1rem;
  color: white;
  font-weight: 500;
  text-decoration: none;
}

@media screen and (max-device-width: 414px) {
  .header-wordpress__nav {
    display: none;
  }
  .header-wordpress__nav ul {
    text-align: center;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
  }
}

.header-wordpress__anchor-logo {
  width: 10%;
  text-align: center;
  margin: 0 6rem;
}

.header-wordpress__anchor-logo img {
  object-fit: cover;
  width: 5rem;
  height: auto;
}

@media screen and (max-device-width: 414px) {
  .header-wordpress__anchor-logo img {
    width: 3rem;
    align-self: flex-start;
  }
}

@media screen and (min-device-width: 1920px) {
  .header-wordpress__anchor-logo {
    margin: 0 9.5rem;
  }
}

@media screen and (max-device-width: 414px) {
  .header-wordpress__anchor-logo {
    width: 100%;
    margin: 0;
    text-align: left;
  }
}

@media screen and (min-device-width: 1920px) {
  .header-wordpress {
    padding: 2.2rem 20.6rem;
  }
  .header-wordpress div h2 {
    font-size: 1rem;
  }
  .header-wordpress div ul li a {
    font-size: 1rem;
  }
  .header-wordpress a img {
    width: 5rem;
    height: 5rem;
  }
}

@media screen and (max-device-width: 414px) {
  .header-wordpress {
    padding: 2.5rem 1.9rem;
    height: auto;
  }
  .header-wordpress a {
    margin: 0;
  }
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 2rem;
}

.sub-menu {
  display: none;
  position: absolute;
  background: white;
}

.sub-menu a {
  white-space: nowrap;
  color: black;
}

.responsive__menu {
  display: none;
}

@media (max-width: 767px) {
  .responsive__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    font-family: "Prompt", sans-serif;
  }
  .responsive__menu .header-menu {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-size: 1.3rem;
    gap: 3rem;
  }
}

.repsonsive__wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 3rem;
}

.hamburger {
  display: none;
  align-self: flex-end;
  width: 2.5rem;
  height: 2rem;
  position: relative;
}

.hamburger span {
  height: 0.25rem;
  width: 100%;
  background-color: white;
  position: absolute;
  transform: translateY(-0.6rem);
  z-index: 120;
  transition: all .2s ease;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  top: 50%;
}

.hamburger span:nth-child(3) {
  top: 100%;
}

.hamburger.active {
  align-items: center;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 50%;
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg);
  top: 50%;
}

@media screen and (max-device-width: 414px) {
  .hamburger {
    display: block;
  }
}

.footer {
  width: 100%;
  padding: 2.5rem 5rem;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer__content-wrapper-left {
  display: flex;
  justify-content: left;
  width: 40%;
  align-items: center;
}

@media screen and (max-device-width: 414px) {
  .footer__content-wrapper-left {
    text-align: center;
    width: 100%;
  }
}

.footer__anchor-logo {
  width: 10%;
  text-align: center;
  margin: 0 4rem;
  cursor: pointer;
}

.footer__anchor-logo img {
  object-fit: cover;
  width: 4.5rem;
  height: 4.5rem;
}

@media screen and (max-device-width: 414px) {
  .footer__anchor-logo {
    text-align: center;
    width: 100%;
    margin: 1rem 0;
  }
}

.footer__content-wrapper-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 40%;
}

.footer__content-wrapper-right a {
  color: white;
  font-family: "Prompt", sans-serif;
  font-size: 0.8rem;
  cursor: pointer;
}

@media screen and (min-device-width: 1920px) {
  .footer__content-wrapper-right {
    justify-content: flex-end;
  }
}

@media screen and (max-device-width: 414px) {
  .footer__content-wrapper-right {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 100%;
  }
}

.footer__copyright {
  text-transform: uppercase;
  color: white;
  font-family: "Prompt", sans-serif;
  font-size: 0.8rem;
}

@media screen and (max-device-width: 414px) {
  .footer__copyright {
    text-align: center;
    width: 100%;
  }
}

@media screen and (min-device-width: 1920px) {
  .footer {
    padding: 3rem 20.6rem;
  }
  .footer div h2 {
    font-size: 1rem;
  }
  .footer div ul li a {
    font-size: 1rem;
  }
  .footer a img {
    width: 5rem;
    height: 5rem;
  }
}

@media screen and (max-device-width: 414px) {
  .footer {
    flex-flow: column-reverse nowrap;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
    text-align: center;
    width: 100%;
  }
  .footer div h2 {
    font-size: 1rem;
  }
  .footer ul li a {
    font-size: 1rem;
    margin: 0 auto;
  }
  .footer a img {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.footer-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-device-width: 414px) {
  .footer-menu {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
}

.hero {
  height: 100vh;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: black;
}

.hero__text-intro-wrapper {
  padding: 15.5rem 10rem 6rem 10rem;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  text-transform: uppercase;
  color: white;
  font-family: battery-park, sans-serif;
  font-weight: 900;
}

.hero__text-intro-wrapper p {
  font-size: 2.2rem;
  word-spacing: 0.5rem;
  font-weight: bolder;
  line-height: 3.2rem;
}

.hero__h2 {
  font-size: 9rem;
  font-weight: lighter;
}

@media screen and (min-device-width: 1920px) and (min-device-height: 1080px) and (-webkit-min-device-pixel-ratio: 1) {
  .hero {
    height: 60vh;
  }
}

@media screen and (max-device-width: 414px) {
  .hero {
    height: 70vh;
  }
  .hero div {
    padding: 15rem 1rem 0 1rem;
  }
  .hero h2 {
    font-size: 5rem;
  }
  .hero p {
    font-size: 2rem;
    line-height: 1.85rem;
    margin-top: 1rem;
  }
}

.home-content-wrapper {
  display: flex;
  flex-flow: column nowrap;
  background-color: black;
}

.intro-text {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  text-align: center;
  width: 100%;
  padding: 4rem;
}

.intro-text__p {
  color: white;
  font-family: "Prompt", sans-serif;
  width: 32vw;
  font-size: 1rem;
  line-height: 1.2rem;
}

@media screen and (min-device-width: 1920px) and (min-device-height: 1080px) and (-webkit-min-device-pixel-ratio: 1) {
  .intro-text__p {
    width: 18vw;
    line-height: 1.3rem;
  }
}

@media screen and (max-device-width: 415px) {
  .intro-text__p {
    width: 100vw;
  }
}

@media screen and (max-device-width: 415px) {
  .intro-text {
    width: 100vw;
    padding: 4rem 3rem;
    margin-bottom: 2rem;
  }
}

.video-section {
  padding: 3rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.video-section__video-tumbnail-wrapper {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

@media screen and (max-device-width: 415px) {
  .video-section__video-tumbnail-wrapper {
    padding: 0;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
}

.video-section__img-video {
  z-index: 5;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.video-section__img-play {
  z-index: 100;
  position: absolute;
  width: 5.5rem;
}

.video-section__article {
  width: 50%;
  color: white;
  font-family: "Prompt", sans-serif;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 2rem 1rem 2rem 5rem;
  font-size: 1rem;
  line-height: 1.2rem;
}

.video-section__article p {
  line-height: 1.2rem;
  margin-bottom: 1rem;
}

.video-section__article p a {
  text-decoration: underline;
}

@media screen and (min-device-width: 1920px) and (min-device-height: 1080px) and (-webkit-min-device-pixel-ratio: 1) {
  .video-section__article {
    padding: 0 0 0 6rem;
    height: 16vh;
  }
}

@media screen and (max-device-width: 415px) {
  .video-section__article {
    padding: 0 0 1rem 0;
    width: 100%;
    height: auto;
  }
}

.video-section__anchor {
  align-self: flex-end;
  text-transform: uppercase;
  border-bottom: 0.1rem solid white;
  line-height: 1.5rem;
  width: fit-content;
}

@media screen and (min-device-width: 1920px) and (min-device-height: 1080px) and (-webkit-min-device-pixel-ratio: 1) {
  .video-section {
    padding: 2rem 19.5rem;
  }
}

@media screen and (max-device-width: 415px) {
  .video-section {
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    padding: 1.5rem;
  }
}

.torn-section {
  padding: 6rem 10rem;
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120% 100%;
  font-family: "Prompt", sans-serif;
  color: black;
  text-transform: uppercase;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  line-height: 2rem;
}

.torn-section__p {
  font-size: 2rem;
}

.torn-section__anchor {
  align-self: flex-end;
  text-transform: uppercase;
  border-bottom: 0.1rem solid black;
  line-height: 1.5rem;
  width: fit-content;
  font-size: 1rem;
}

@media screen and (min-device-width: 1920px) and (min-device-height: 1080px) and (-webkit-min-device-pixel-ratio: 1) {
  .torn-section {
    height: 35vh;
    padding: 6rem 20rem;
  }
  .torn-section p {
    font-weight: normal;
    font-size: 1.9rem;
  }
}

@media screen and (max-device-width: 415px) {
  .torn-section {
    padding: 6rem 2rem;
    width: 100%;
    height: 50vh;
  }
  .torn-section p {
    font-size: 1.3rem;
    line-height: 1.65rem;
  }
}

.pita-section {
  padding: 6rem 10rem 0 10rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.pita-section__article {
  font-family: "Prompt", sans-serif;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pita-section__article p {
  color: white;
  font-family: "Prompt", sans-serif;
  font-size: 1.1rem;
  line-height: 1.2rem;
}

@media screen and (min-device-width: 1920px) {
  .pita-section__article {
    padding: 0 3rem;
  }
  .pita-section__article p {
    font-size: 1.3rem;
    line-height: 1.75rem;
  }
}

@media screen and (max-device-width: 415px) {
  .pita-section__article {
    width: 100%;
    padding: 1rem 2rem;
  }
  .pita-section__article p {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

.pita-section__img-wrapper {
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
  padding: 2rem;
}

@media screen and (max-device-width: 415px) {
  .pita-section__img-wrapper {
    width: 100%;
  }
}

.pita-section__img {
  object-fit: cover;
  width: 50rem;
  height: 12rem;
}

@media screen and (min-device-width: 1920px) {
  .pita-section__img {
    height: 35vh;
  }
}

.pita-section__h3 {
  font-family: "Prompt", sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 2.5rem;
  position: relative;
  top: -1.5rem;
  left: 1rem;
  line-height: 3.5rem;
}

@media screen and (min-device-width: 1920px) and (min-device-height: 1080px) and (-webkit-min-device-pixel-ratio: 1) {
  .pita-section {
    padding: 4rem 19.5rem 0 19.5rem;
    height: 65vh;
  }
  .pita-section h3 {
    font-size: 3.5rem;
    line-height: 5rem;
    top: -1.8rem;
    left: 2rem;
  }
}

@media screen and (max-device-width: 415px) {
  .pita-section {
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    padding: 1rem;
  }
  .pita-section h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    top: -2rem;
    left: 1rem;
  }
}

.fourth-section {
  width: 100%;
  height: 40vh;
  text-align: center;
}

.fourth-section h2 {
  font-size: 5rem;
  font-family: "Prompt", sans-serif;
  color: #f3aa43;
  padding: 3rem 4rem;
}

.nav {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  background-color: rgba(48, 46, 46, 0.733);
  margin: 0 auto;
  text-align: center;
  z-index: 200;
}

.nav__container {
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.nav__h3 {
  font-family: "Prompt", sans-serif;
  font-size: 1.8rem;
  margin: 0.1rem 0 1rem 0;
  text-transform: uppercase;
}

.nav__ul {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.nav__li {
  list-style: none;
  font-family: "Prompt", sans-serif;
  padding: 0.6rem 0;
}

.nav__li a {
  margin: 0 0.5rem;
  padding: 0.2rem;
  color: white;
  font-size: 1em;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.nav__li a:hover {
  padding: 1rem;
  color: #f3aa43;
}

.fixed {
  position: fixed;
  top: 0%;
}

.scroll-section {
  margin-top: 5rem;
}

.goals {
  display: flex;
  flex-flow: column nowrap;
  background-color: black;
  width: 100%;
}

.goals__heading-wrapper {
  padding: 12rem 10rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.goals__heading-wrapper h2 {
  font-size: 9rem;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
}

@media screen and (min-device-width: 1920px) {
  .goals__heading-wrapper {
    padding: 13rem 19rem 0 19rem;
  }
  .goals__heading-wrapper h2 {
    font-size: 9.4rem;
    margin: 1rem 0 4rem 0;
  }
}

@media screen and (max-device-width: 414px) {
  .goals__heading-wrapper {
    padding: 10rem 1rem 0 1rem;
  }
  .goals__heading-wrapper h2 {
    font-size: 5rem;
    margin: 0 0 1rem 0;
  }
}

.goals__ul {
  padding: 5rem 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
}

.goals__li {
  width: 22vw;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

@media screen and (min-device-width: 1920px) {
  .goals__li {
    width: 18vw;
  }
}

.goals__img {
  object-fit: cover;
  height: 5rem;
  width: fit-content;
}

.goals__p {
  font-size: 3rem;
  font-family: "Prompt", sans-serif;
  color: white;
  text-transform: uppercase;
}

@media screen and (max-device-width: 414px) {
  .goals {
    padding: 1rem;
  }
  .goals img {
    height: 3.8rem;
  }
  .goals p {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .goals ul {
    gap: 3rem;
    justify-content: space-around;
    align-items: flex-start;
  }
  .goals li {
    width: 40%;
  }
}

.tv {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  justify-content: center;
  padding: 13rem 5rem 0 5rem;
  background-color: black;
  color: white;
}

.tv__h2 {
  font-size: 9rem;
  font-weight: 900;
  margin-bottom: -0.5rem;
  text-transform: uppercase;
}

@media screen and (max-device-width: 414px) {
  .tv__h2 {
    font-size: 5rem;
    margin-top: 10rem;
  }
}

.tv__intro-wrapper {
  text-align: center;
  font-family: "Prompt", sans-serif;
  font-size: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  padding: 0 3rem;
  line-height: 1.5rem;
}

@media screen and (min-device-width: 1920px) and (min-device-height: 1080px) and (-webkit-min-device-pixel-ratio: 1) {
  .tv__intro-wrapper {
    padding: 0.8rem 19rem;
    height: 20vh;
  }
}

@media screen and (max-device-width: 414px) {
  .tv__intro-wrapper {
    padding: 10rem 1rem 15rem 1rem;
    height: 40vh;
  }
}

@media screen and (min-device-width: 1920px) and (min-device-height: 1080px) and (-webkit-min-device-pixel-ratio: 1) {
  .tv {
    padding: 13rem 15rem 0 15rem;
  }
}

@media screen and (max-device-width: 414px) {
  .tv {
    padding: 1rem;
  }
}

.tv-cards {
  background-color: black;
  display: flex;
  flex-flow: row wrap;
  padding: 5rem 0;
  gap: 1rem;
  justify-content: space-evenly;
  align-content: flex-start;
}

.tv-cards__card {
  width: 25vw;
  height: 50vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  background-color: white;
}

@media screen and (min-device-width: 1920px) and (min-device-height: 1080px) and (-webkit-min-device-pixel-ratio: 1) {
  .tv-cards__card {
    width: 20vw;
    height: 43vh;
  }
}

@media screen and (max-device-width: 414px) {
  .tv-cards__card {
    width: 100%;
    height: 43vh;
  }
}

.tv-cards__content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  height: 55%;
  font-family: "Prompt", sans-serif;
  color: black;
}

@media screen and (min-device-width: 1920px) {
  .tv-cards__content {
    padding: 2rem 1.3rem;
  }
}

.tv-cards__img {
  object-fit: cover;
  width: 100%;
  height: 45%;
}

@media screen and (min-device-width: 1920px) and (min-device-height: 1080px) and (-webkit-min-device-pixel-ratio: 1) {
  .tv-cards__img {
    height: 55%;
  }
}

.tv-cards__title {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.tv-cards__logo-img {
  object-fit: cover;
  width: 20%;
  height: auto;
  align-self: flex-start;
}

@media screen and (min-device-width: 1920px) and (min-device-height: 1080px) and (-webkit-min-device-pixel-ratio: 1) {
  .tv-cards__logo-img {
    width: 15%;
  }
}

.tv-cards__logo-text {
  font-size: 1rem;
  font-weight: lighter;
  font-family: "Prompt", sans-serif;
  text-transform: uppercase;
  align-self: flex-start;
}

@media screen and (min-device-width: 1920px) and (min-device-height: 1080px) and (-webkit-min-device-pixel-ratio: 1) {
  .tv-cards__logo-text {
    font-size: 1.2rem;
  }
}

.tv-cards__anchor {
  align-self: flex-end;
  text-transform: uppercase;
  text-decoration: underline;
  width: fit-content;
  font-size: 0.8rem;
}

.tv-cards__card-text {
  font-size: 0.8rem;
  align-self: flex-end;
  text-transform: uppercase;
}

@media screen and (min-device-width: 1920px) and (min-device-height: 1080px) and (-webkit-min-device-pixel-ratio: 1) {
  .tv-cards {
    padding: 6rem 5rem 0 5rem;
  }
}

@media screen and (max-device-width: 414px) {
  .tv-cards {
    padding: 1rem;
  }
}

.team {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  justify-content: center;
  padding: 13rem 5rem;
  background-color: black;
  color: white;
}

.team__h2 {
  font-size: 9rem;
  font-weight: 900;
  margin-bottom: -0.5rem;
  text-transform: uppercase;
}

@media screen and (min-device-width: 1920px) and (min-device-height: 1080px) and (-webkit-min-device-pixel-ratio: 1) {
  .team__h2 {
    font-size: 9.5rem;
    font-weight: bold;
  }
}

@media screen and (max-device-width: 414px) {
  .team__h2 {
    font-size: 5rem;
    margin: 0 0 5rem 0;
  }
}

@media screen and (max-device-width: 414px) {
  .team {
    padding: 10rem 1rem 0 1rem;
  }
}

.team-cards {
  background-color: black;
  display: flex;
  flex-flow: row wrap;
  padding: 5rem 0;
  gap: 1rem;
  justify-content: space-evenly;
  align-content: center;
}

.team-cards__card {
  width: 25vw;
  height: 50vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
}

@media screen and (min-device-width: 1920px) and (min-device-height: 1080px) and (-webkit-min-device-pixel-ratio: 1) {
  .team-cards__card {
    width: 20vw;
    height: 40vh;
  }
}

@media screen and (max-device-width: 414px) {
  .team-cards__card {
    width: 100%;
    height: 45vh;
  }
}

.team-cards__content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  padding: 1.5rem;
  height: 55%;
  font-family: "Prompt", sans-serif;
  color: black;
}

.team-cards__img {
  object-fit: cover;
  width: 100%;
  height: 45%;
}

@media screen and (min-device-width: 1920px) {
  .team-cards__img {
    height: 60%;
  }
}

@media screen and (max-device-width: 414px) {
  .team-cards__img {
    height: 60%;
  }
}

.team-cards__title {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 400;
}

.team-cards__logo-img {
  object-fit: cover;
  width: 20%;
  height: auto;
}

@media screen and (min-device-width: 1920px) {
  .team-cards__logo-img {
    width: 15%;
  }
}

.team-cards__logo-text {
  font-size: 1rem;
  font-weight: lighter;
  font-family: "Prompt", sans-serif;
  text-transform: uppercase;
}

.team-cards__card-text {
  font-size: 1rem;
  align-self: flex-start;
}

@media screen and (min-device-width: 1920px) {
  .team-cards {
    padding: 10rem 15rem 0 15rem;
    gap: 2rem;
    align-items: stretch;
  }
}

@media screen and (max-device-width: 414px) {
  .team-cards {
    padding: 1rem;
    flex-flow: column nowrap;
  }
}

.live {
  width: 100%;
  background-color: black;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-align: center;
  padding: 13rem 0 5rem 0;
}

.live__h2 {
  font-size: 9rem;
  font-weight: 800;
}

@media screen and (max-device-width: 414px) {
  .live__h2 {
    font-size: 5rem;
  }
}

.live__h3 {
  font-family: "Prompt", sans-serif;
  font-size: 1rem;
  margin-top: 2rem;
}

@media screen and (max-device-width: 414px) {
  .live__h3 {
    padding: 0 0 4rem 0;
  }
}

@media screen and (min-device-width: 1920px) and (min-device-height: 1080px) and (-webkit-min-device-pixel-ratio: 1) {
  .live {
    height: 100vh;
  }
}

@media screen and (max-device-width: 414px) {
  .live {
    padding: 11rem 1rem 0 1rem;
  }
}

.cat-list {
  display: flex;
  gap: 3rem;
  font-family: "Prompt", sans-serif;
  font-size: 1.5rem;
  background-color: rgba(51, 48, 48, 0.74);
  padding: 2.5rem;
  margin: 2rem 0rem;
  text-transform: uppercase;
}

.cat-list_item:hover {
  color: #f3aa43;
}

.active {
  color: #f3aa43;
  border-bottom: 0.3rem solid #f3aa43;
  padding: 1rem;
}

.filter-date-wrapper {
  font-family: "Prompt", sans-serif;
  font-size: 1rem;
  padding: 1rem;
  margin-top: 1rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.contact {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 13rem 4rem 0 4rem;
  background-color: black;
  width: 100%;
  gap: 1rem;
}

.contact__h2 {
  font-size: 9rem;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

.contact__main-content-wrapper {
  display: flex;
  flex-flow: row nowrap;
  gap: 2rem;
  padding: 5rem 5rem;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  font-family: "Prompt", sans-serif;
}

@media screen and (min-device-width: 1920px) {
  .contact__main-content-wrapper {
    padding: 1rem 7rem;
  }
}

@media screen and (max-device-width: 414px) {
  .contact__main-content-wrapper {
    padding: 1rem;
    flex-flow: column-reverse nowrap;
  }
}

@media screen and (min-device-width: 1920px) {
  .contact {
    padding: 16rem 21rem 2rem 21rem;
  }
}

@media screen and (max-device-width: 414px) {
  .contact {
    padding: 11rem 1rem 0 1rem;
  }
  .contact h2 {
    font-size: 5rem;
  }
}

.form {
  display: flex;
  flex-flow: row-reverse wrap;
  width: 60%;
  height: 100%;
  color: white;
  font-family: "Prompt", sans-serif;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.form__label {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin: 1rem 0 0 0;
}

.form__input {
  text-transform: capitalize;
  background-color: black;
  padding: 1.3rem 0 0.3rem 0.3rem;
  border-bottom: 0.1rem solid #A7A7A7;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 100%;
  font-size: 0.8rem;
  color: white;
}

.form__input:focus {
  outline: none;
}

.form__input::placeholder {
  color: #A7A7A7;
}

@media screen and (min-device-width: 1920px) {
  .form__input {
    padding: 1.2rem 0 0.3rem 0.6rem;
  }
}

.form__textarea {
  padding: 1rem 0 2rem 0.5rem;
  border-bottom: 0.1rem solid #A7A7A7;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 100%;
  font-size: 0.8rem;
  text-transform: capitalize;
  background-color: black;
  font-family: "Prompt", sans-serif;
  resize: none;
  color: white;
}

.form__textarea:focus {
  outline: none;
}

.form__textarea::placeholder {
  color: #A7A7A7;
}

@media screen and (min-device-width: 1920px) {
  .form__textarea {
    padding: 0.5rem 0 1rem 0.3rem;
  }
}

.form__submit {
  text-transform: uppercase;
  background-color: black;
  color: white;
  border: none;
  font-size: 0.8rem;
  border-bottom: 0.1rem solid #A7A7A7;
  margin-top: 1rem;
  align-self: flex-end;
  padding: 0 0 0.3rem 0;
  cursor: pointer;
}

.form__input-pair-wrapper {
  display: flex;
  flex-flow: column nowrap;
  width: 47%;
}

@media screen and (max-device-width: 414px) {
  .form__input-pair-wrapper {
    flex-flow: row wrap;
    width: 100%;
  }
}

.form__input-message-wrapper {
  width: 100%;
}

@media screen and (max-device-width: 414px) {
  .form {
    padding: 1rem;
    width: 100%;
  }
}

.address-section {
  width: 40%;
  height: 40vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  font-size: 1rem;
  padding: 1rem 0;
  line-height: 1.3rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.address-section__company-name {
  text-transform: uppercase;
}

@media screen and (min-device-width: 1920px) and (min-device-height: 1080px) and (-webkit-min-device-pixel-ratio: 1) {
  .address-section {
    height: 18vh;
  }
}

@media screen and (max-device-width: 414px) {
  .address-section {
    padding: 0;
    height: 22vh;
    width: 100%;
  }
}

.error {
  color: red;
}

.error input {
  border-bottom: 0.1rem solid red;
}

.error textarea {
  border-bottom: 0.1rem solid red;
}

.remove-contact-content {
  display: none;
}

.message-div {
  background-color: white;
  border-radius: 10rem;
  color: black;
  padding: 3rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Prompt", sans-serif;
}

.message-h2 {
  font-size: 6rem;
}

html {
  background-color: black;
}

.search__section {
  padding: 5rem 2rem 5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 1rem;
  text-align: center;
}

.no-results {
  border-radius: 15px;
  padding: 2rem 4rem;
  text-align: center;
  color: white;
  font-family: "Prompt", sans-serif;
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}

.no-results__h2 {
  font-size: 5rem;
  font-family: battery-park, sans-serif;
  text-transform: uppercase;
}

.no-results__try-again {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  gap: 5rem;
  padding: 2rem 0;
}

.no-results__try-again-text {
  font-size: 2rem;
  line-height: 4rem;
}

.result-found {
  padding: 12rem 2rem 5rem 2rem;
  color: white;
  font-family: "Prompt", sans-serif;
}

.result-found__h1 {
  font-size: 3rem;
  font-family: battery-park, sans-serif;
}

.search-results-wrapper {
  color: white;
}

.search-results_ul {
  list-style: none;
  line-height: 3rem;
}

.search-results_li {
  font-family: "Prompt", sans-serif;
}

.error {
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  flex-flow: column nowrap;
  text-align: center;
  padding: 12rem 2rem 5rem 2rem;
}

.error__wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 4rem;
  width: 100%;
  font-family: "Prompt", sans-serif;
}

.error__wrapper--return-home {
  background-color: #f3aa43;
  padding: 3rem 2rem;
  width: fit-content;
  border-radius: 15px;
  cursor: pointer;
}

.error__title {
  font-size: 9rem;
  font-family: battery-park, sans-serif;
  text-transform: uppercase;
}

.error__paragraf {
  font-size: 2.2rem;
  width: 90%;
  line-height: 3.2rem;
}

.error__return-home-link {
  font-size: 1.3rem;
  color: black;
  text-transform: uppercase;
  text-shadow: #c4780c 0.03rem 0.05rem;
}

.search {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

.search__h2 {
  color: white;
  font-size: 9rem;
  text-transform: uppercase;
  margin: 15rem 0 0 0;
}

.search-form {
  padding: 2rem 0;
  background-color: rgba(94, 86, 86, 0.404);
  border-radius: 15px;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  border: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-transform: uppercase;
}

.search-form__svg-icon {
  width: 2rem;
  height: auto;
}

.search-form__label {
  font-family: "Prompt", sans-serif;
  color: white;
  font-size: 1.5rem;
}

.search-form__input {
  padding: 1rem;
  width: 40vw;
  border-radius: 15px;
  border: none;
}

.search-form__input--button {
  background-color: #f3aa43;
  color: white;
  text-shadow: #c4780c 0.03rem 0.05rem;
  text-transform: uppercase;
  font-family: "Prompt", sans-serif;
  font-size: 1rem;
}

.search-results-wrapper {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
/*# sourceMappingURL=style.css.map */