*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @extend %description-16;
  font-family: $ff-base-2;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

button {
  color: inherit;
  background: none;
  outline: none;
  cursor: pointer;
  border: none;
}

img {
  vertical-align: middle;
}
