$primary-color:   #f3aa43;
$secondary-color: #BC978C;
$grey:            #B2B8C3;
$grey-form-text:  #A7A7A7;
$beige:           #F9F1E7;
$dark-txt:        #37384C;

$red:             #c72c27;

$white:           #ffffff;
$black:           #000000;

$ff-base:     'Prompt', sans-serif;
$ff-base-2:   battery-park, sans-serif;

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: (
  'preloader',
  'navigation',
  'content'
);
