.error {
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex-flow: column nowrap;
    text-align: center;
    padding: 12rem 2rem 5rem 2rem;
}

.error__wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
    width: 100%;
    font-family: $ff-base;
    &--return-home {
        background-color: $primary-color;
        padding: 3rem 2rem;
        width: fit-content;
        border-radius: 15px;
        cursor: pointer;

    }
}

.error__title {
    font-size: 9rem;
    font-family: $ff-base-2;
    text-transform: uppercase;
}

.error__paragraf {
    font-size: 2.2rem;
    width: 90%;
    line-height: 3.2rem;
}

.error__return-home-link {
    font-size: 1.3rem;
    color: black;
    text-transform: uppercase;
    text-shadow: darken($primary-color, 20%) 0.03rem 0.05rem;
}

