.contact {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 13rem 4rem 0 4rem;
    background-color: black;
    width: 100%;
    gap: 1rem;

    &__h2 {
        font-size: 9rem;
        font-weight: 700;
        color: white;
        text-transform: uppercase;
    }
    &__main-content-wrapper {
        display: flex;
        flex-flow: row nowrap;
        gap: 2rem;
        padding: 5rem 5rem;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        //font
        font-family: $ff-base;
        //Big screen
        @media screen 
        and (min-device-width: 1920px) {
            padding: 1rem 7rem;
    
        }
        //Phone
        @media screen and (max-device-width: 414px) {
            padding: 1rem;
            flex-flow: column-reverse nowrap;
        } 
    }
    //Big screen
    @media screen 
    and (min-device-width: 1920px) {
        padding: 16rem 21rem 2rem 21rem;

    }
    //Phone
    @media screen and (max-device-width: 414px) {
        padding: 11rem 1rem 0 1rem;
        h2{font-size: 5rem;}
    }     
}

//form styles

.form {
    display: flex;
    flex-flow: row-reverse wrap;
    width: 60%;
    height: 100%;
    color: white;
    font-family: $ff-base;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    &__label {
        text-transform: capitalize;
        font-size: 1.1rem;
        margin: 1rem 0 0 0;
    }
    &__input {
        text-transform: capitalize;
        background-color: black;
        padding: 1.3rem 0 0.3rem 0.3rem; 
        border-bottom: 0.1rem solid $grey-form-text;
        border-top: none;
        border-right: none;
        border-left: none;
        width: 100%;
        font-size: 0.8rem;
        color: white;
        &:focus {
            outline: none;
        }
        &::placeholder {
            color: $grey-form-text;
            
        }
        @media screen 
        and (min-device-width: 1920px) {
            padding: 1.2rem 0 0.3rem 0.6rem;    
    
        }
    }
    &__textarea {
        padding: 1rem 0 2rem 0.5rem;
        border-bottom: 0.1rem solid $grey-form-text;
        border-top: none;
        border-right: none;
        border-left: none;
        width: 100%;
        font-size: 0.8rem;
        text-transform: capitalize;
        background-color: black;
        font-family: $ff-base;
        resize: none;
        color: white;
        &:focus {
            outline: none;
        }
        &::placeholder {
            color: $grey-form-text;
        }
        //Big screen
        @media screen 
        and (min-device-width: 1920px) {
            padding: 0.5rem 0 1rem 0.3rem;    
    
        }
    }
    &__submit {
        text-transform: uppercase;
        background-color: black;
        color: white;
        border: none;
        font-size: 0.8rem;
        border-bottom: 0.1rem solid $grey-form-text;
        margin-top: 1rem;
        align-self:flex-end;
        padding: 0 0 0.3rem 0;
        cursor: pointer;
    }
    &__input-pair-wrapper {
        display: flex;
        flex-flow: column nowrap;
        width: 47%;
        //Phone
        @media screen and (max-device-width: 414px) {
            flex-flow: row wrap;
            width: 100%;
        }
    }
    &__input-message-wrapper {
        width: 100%;
    }
    //Phone
    @media screen and (max-device-width: 414px) {
        padding: 1rem;
        width: 100%;
    }      

}

//address styles

.address-section {
    width: 40%;
    height: 40vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    font-size: 1rem;
    padding: 1rem 0;
    line-height: 1.3rem;
    //background image styles
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    &__company-name {
        text-transform: uppercase;
    }
    //Big screen
    @media screen 
    and (min-device-width: 1920px) 
    and (min-device-height: 1080px) 
    and (-webkit-min-device-pixel-ratio: 1) {
        height: 18vh;    

    }
    //Phone
    @media screen and (max-device-width: 414px) {
        padding: 0;
        height: 22vh;
        width: 100%;
    }     
}

//error styles

.error {
    color: red;
    input {
        border-bottom: 0.1rem solid red;
    }
    textarea {
        border-bottom: 0.1rem solid red;
    }
}

//removing form after succesful post

.remove-contact-content {
    display: none;
}

//styles for message div

.message-div {
    background-color: white;
    border-radius: 10rem;
    color: black;
    padding: 3rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: $ff-base;
}

.message-h2 {
    font-size: 6rem;
}