
.footer {
    width: 100%;
    padding: 2.5rem 5rem;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    &__content-wrapper-left {
        display: flex;
        justify-content: left;
        width: 40%;
        align-items: center;
        // Phone
        @media screen and (max-device-width: 414px) {
            text-align: center;
            width: 100%;    
        }
    }

    &__anchor-logo {
        width: 10%;
        text-align: center;
        margin: 0 4rem;
        cursor: pointer;
        img {
            object-fit: cover;
            width: 4.5rem;
            height: 4.5rem;
        }
        // Phone
        @media screen and (max-device-width: 414px) {
            text-align: center;
            width: 100%;
            margin: 1rem 0;   
        }
    }

    &__content-wrapper-right {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        width: 40%;
        a {
                color: white;
                font-family: $ff-base;
                font-size: 0.8rem;
                cursor: pointer;
        }
        //Big screen laptop
        @media screen 
        and (min-device-width: 1920px) {
            justify-content: flex-end;
        }
        // Phone
        @media screen and (max-device-width: 414px) {
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            text-align: center;
            width: 100%;    
        }
    }

    &__copyright {
        text-transform: uppercase;
        color: white;
        font-family: $ff-base;
        font-size: 0.8rem;
        // Phone
        @media screen and (max-device-width: 414px) {
            text-align: center;
            width: 100%;    
        }        
    }
    // Big screen
    @media screen and (min-device-width: 1920px) {
        padding: 3rem 20.6rem;
        div h2 {font-size: 1rem;}
        div ul li a {font-size: 1rem;}
        a img {width: 5rem; height: 5rem;}
    }
    //Phone
    @media screen and (max-device-width: 414px) {
        flex-flow: column-reverse nowrap;
        justify-content: center;
        align-items: center;
        padding: 3rem 1rem;
        text-align: center;
        width: 100%;
        div h2 {font-size: 1rem;}
        ul li a {font-size: 1rem; margin: 0 auto;}
        a img {width: 2.5rem; height: 2.5rem;}
    }    

}

.footer-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    //Phone
    @media screen and (max-device-width: 414px) {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }  
}