.goals {
    display: flex;
    flex-flow: column nowrap;
    background-color: black;
    width: 100%;
    &__heading-wrapper {
        padding: 12rem 10rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
        h2{
            font-size: 9rem;
            color: white;
            text-transform: uppercase;
            font-weight: 900;
            text-align: center;
        }
        //Big screen
        @media screen 
        and (min-device-width: 1920px) {
            padding: 13rem 19rem 0 19rem;
            h2 {font-size: 9.4rem; margin: 1rem 0 4rem 0;}
        }
        //Phone
        @media screen and (max-device-width: 414px) {
            padding: 10rem 1rem 0 1rem;
            h2 {font-size: 5rem; margin: 0 0 1rem 0;}  
        }

    }
    &__ul {
        padding: 5rem 0;
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        gap: 3rem;
    }
    &__li {
        width: 22vw;
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 1.2rem;
        //Big screen
        @media screen 
        and (min-device-width: 1920px)  {
            width: 18vw;
        }
    }
    &__img {
        object-fit: cover;
        height: 5rem;
        width: fit-content;
    }
    &__p {
        font-size: 3rem;
        font-family: $ff-base;
        color: white;
        text-transform: uppercase;
    }
    //Phone
    @media screen and (max-device-width: 414px) {
        padding: 1rem;
        img {height: 3.8rem;}
        p {font-size: 1.25rem; line-height: 1.75rem;}
        ul {gap: 3rem; justify-content: space-around; align-items: flex-start;}
        li {width: 40%;} 
    }

}