.header-wordpress {
    width: 100%;
    padding: 4rem 5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 100;

    &__nav {
        li {
           position: relative;
           
           &:hover {
               .sub-menu {
                   display: block;
               }
           }
        } 
        
        a {
            text-transform: uppercase;
            font-family: $ff-base;
            font-size: 1rem;
            color: white;
            font-weight: 500;
            text-decoration: none;

        }
        //phone
        @media screen and (max-device-width: 414px) {
            display: none;
            ul {
                text-align:center;
                flex-flow: column nowrap;
                justify-content: space-between;
                align-items: center;
            }
        }

    }

    &__anchor-logo {
        width: 10%;
        text-align: center;
        margin: 0 6rem;
        img {
            object-fit: cover;
            width: 5rem;
            height: auto;
            //Phone
            @media screen and (max-device-width: 414px) {
                    //? - Why can't I make the logo grow?
                    width: 3rem; 
                    align-self: flex-start;
            }
        }
        //Big screen
        @media screen 
        and (min-device-width: 1920px) {
            margin: 0 9.5rem;
        }
        //Phone
        @media screen and (max-device-width: 414px) {
            //? - Why can't I make the logo grow?
            width: 100%;
            margin: 0;
            text-align: left;
        }
    }
    //Big screen
    @media screen 
    and (min-device-width: 1920px) {
        padding: 2.2rem 20.6rem;
        div h2 {font-size: 1rem;}
        div ul li a {font-size: 1rem;}
        a img {
            width: 5rem; 
            height: 5rem;
        }
    }
    //Phone
    @media screen and (max-device-width: 414px) {
        padding: 2.5rem 1.9rem;
        height: auto;
        a {margin: 0;}
    }

}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 2rem;
}

.sub-menu {
    display: none;
    position: absolute;
    background: white;

    a {
        white-space: nowrap;
        color: black;
    }

}

.responsive__menu {
    display: none;
    
    @media (max-width: 767px) {
        // display: block;
        position: fixed;
        top: 0; 
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        color: white;
        font-family: $ff-base;
        .header-menu {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-evenly;
            align-items: center;
            align-content: center;
            width: 100%;
            height: 100%;
            text-transform: uppercase;
            font-size: 1.3rem;
            gap: 3rem;
        }

    }
}

// .responsive__nav {

// }

.repsonsive__wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 3rem;
}

.hamburger {
    display: none;
    align-self: flex-end;
    width: 2.5rem;
    height: 2rem;
    position: relative;

    span {
        height: 0.25rem;
        width: 100%;
        background-color: white;
        position: absolute;
        transform: translateY(-0.6rem);
        z-index: 120;
        transition: all .2s ease;
    }

    span:nth-child(1) {
        top: 0;
    }
    span:nth-child(2) {
        top: 50%;
    }
    span:nth-child(3) {
        top: 100%;
    }

    
    &.active {
        align-items: center;

        span:nth-child(1) {
            transform: rotate(45deg);
            top: 50%;
        }
        span:nth-child(2) {
            opacity: 0;
        }
        span:nth-child(3) {
            transform: rotate(-45deg);
            top: 50%;
        }
    }
    //Phone
    @media screen and (max-device-width: 414px) {
        display: block;
    }
}