.hero {
    //positioning 
    height: 100vh;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    //flex
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    //background image styles
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;

    &__text-intro-wrapper {

        //padding
        padding: 15.5rem 10rem 6rem 10rem;
        //positioning
        text-align: center;
        display: flex;
        flex-flow: column nowrap;
        text-transform: uppercase;
        //for all text
        color: white;
        font-family: $ff-base-2;
        font-weight: 900;
      
        & p {
            font-size: 2.2rem;
            word-spacing: 0.5rem;
            font-weight: bolder;
            line-height: 3.2rem;
        }
    }
    &__h2 {
        font-size: 9rem;
        font-weight: lighter;

    }
    // big screen
    @media screen 
    and (min-device-width: 1920px) 
    and (min-device-height: 1080px) 
    and (-webkit-min-device-pixel-ratio: 1) {
        height: 60vh;
    }
    // phone
    @media screen and (max-device-width: 414px) {
        height: 70vh;
        div {padding: 15rem 1rem 0 1rem;}
        h2 {font-size: 5rem;}
        p {
            font-size: 2rem;
            line-height: 1.85rem;
            margin-top: 1rem;
        }

    }

}