//home general styles
.home-content-wrapper {
    display: flex;
    flex-flow: column nowrap;
    background-color: black;
}

//intro part
.intro-text {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;        
    text-align: center;
    width: 100%;
    padding: 4rem;
    &__p {
        color: white;
        font-family: $ff-base;
        width: 32vw;
        font-size: 1rem;
        line-height: 1.2rem;
        //big screen laptop
        @media screen 
        and (min-device-width: 1920px) 
        and (min-device-height: 1080px) 
        and (-webkit-min-device-pixel-ratio: 1) {
            width: 18vw;
            line-height: 1.3rem;
        }
        //phone
        @media screen and (max-device-width: 415px) {
            width: 100vw;   
        }

    }

    //phone
    @media screen and (max-device-width: 415px) {
        width: 100vw;
        padding: 4rem 3rem;
        margin-bottom: 2rem;    
    }

}

// video section
.video-section {
    padding: 3rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    

    &__video-tumbnail-wrapper {
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        // phone
        @media screen and (max-device-width: 415px) {
            padding: 0;
            width: 100%;
            height: auto;
            margin-bottom: 1rem;    
        }
    }
    &__img-video {
        z-index: 5;
        object-fit: cover;
        width: 100%;
        height: auto;
    }
    &__img-play {
        z-index: 100;
        position: absolute;
        width: 5.5rem;
    }
    &__article {
        width: 50%;
        color: white;
        font-family: $ff-base;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        padding: 2rem 1rem 2rem 5rem;
        font-size: 1rem;
        line-height: 1.2rem;
        & p {
            line-height: 1.2rem;
            margin-bottom: 1rem;
            & a {
                text-decoration: underline;
            }

        }
        //big screen laptop
        @media screen 
        and (min-device-width: 1920px) 
        and (min-device-height: 1080px) 
        and (-webkit-min-device-pixel-ratio: 1) {
            padding: 0 0 0 6rem;
            height: 16vh;
        }
        // phone
        @media screen and (max-device-width: 415px) {
            padding: 0 0 1rem 0;
            width: 100%;
            height: auto;    
        }

    }

    &__anchor {
        align-self: flex-end;
        text-transform: uppercase;
        border-bottom: 0.1rem solid white;
        line-height: 1.5rem;
        width: fit-content;

    }
    //big screen laptop
    @media screen 
    and (min-device-width: 1920px) 
    and (min-device-height: 1080px) 
    and (-webkit-min-device-pixel-ratio: 1) {
        padding: 2rem 19.5rem;
    }
    // phone
    @media screen and (max-device-width: 415px) {
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        padding: 1.5rem;
    }    
    
}

//white torn part section
.torn-section {
    padding: 6rem 10rem;
    height: 70vh;
    //background image styles
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120% 100%;
    //text
    font-family: $ff-base;
    color: black;
    text-transform: uppercase;
    //display
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    line-height: 2rem;
    &__p {
        font-size: 2rem;
    }
    &__anchor {
        align-self: flex-end;
        text-transform: uppercase;
        border-bottom: 0.1rem solid black;
        line-height: 1.5rem;
        width: fit-content;
        font-size: 1rem;    
    }
    //big screen laptop
    @media screen 
    and (min-device-width: 1920px) 
    and (min-device-height: 1080px) 
    and (-webkit-min-device-pixel-ratio: 1) {
        height: 35vh;
        padding: 6rem 20rem;
        p {font-weight: normal; font-size: 1.9rem;}
    }
    // phone
    @media screen and (max-device-width: 415px) {
        padding: 6rem 2rem;
        width: 100%;
        height: 50vh;
        p { 
            font-size: 1.3rem;
            line-height: 1.65rem;
        }    
    }
}


//said 'pita' section

.pita-section {
    padding: 6rem 10rem 0 10rem;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    &__article {
        font-family: $ff-base;
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            color: white;
            font-family: $ff-base;
            font-size: 1.1rem;
            line-height: 1.2rem;    
        }
        //Big screen
        @media screen 
        and (min-device-width: 1920px) {
            padding: 0 3rem;
            p {
                font-size: 1.3rem; 
                line-height: 1.75rem; 
            }
        }
        // phone
        @media screen and (max-device-width: 415px) {
            width: 100%;
            padding: 1rem 2rem;
            p {
                font-size: 1rem; 
                line-height: 1.75rem; 
            }
        }         
    }

    &__img-wrapper {
        display: flex;
        flex-flow: column nowrap;
        width: 50%;
        padding: 2rem;
        // phone
        @media screen and (max-device-width: 415px) {
            width: 100%;
        } 
    }
    &__img {
        object-fit: cover;
        width: 50rem;
        height: 12rem;
        //Big screen laptop
        @media screen 
        and (min-device-width: 1920px) {
            height: 35vh;
        } 
    }
    &__h3 {
        font-family: $ff-base;
        color: white;
        text-transform: uppercase;
        font-size: 2.5rem;
        position: relative;
        top: -1.5rem;
        left: 1rem;
        line-height: 3.5rem;    
    }
    // big screen laptop
    @media screen 
    and (min-device-width: 1920px) 
    and (min-device-height: 1080px) 
    and (-webkit-min-device-pixel-ratio: 1) {
        padding: 4rem 19.5rem 0 19.5rem;
        height: 65vh;
        h3 {
            font-size: 3.5rem; 
            line-height: 5rem; 
            top: -1.8rem;
            left: 2rem;
        }
    }
    // phone
    @media screen and (max-device-width: 415px) {
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        padding: 1rem;
        h3 {
            font-size: 1.5rem; 
            line-height: 2rem; 
            top: -2rem;
            left: 1rem;
        }
    }

   
}
//fourth section

.fourth-section {
    width: 100%;
    height: 40vh;
    text-align: center;
    h2 {
        font-size: 5rem;
        font-family: $ff-base;
        color: $primary-color;
        padding: 3rem 4rem;
    }
}
// one page nav styles
.nav {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    background-color: rgba(48, 46, 46, 0.733);
    margin: 0 auto;
    text-align: center;
    z-index: 200;
    &__container {
        padding: 1rem;
        margin: 0 auto;
        text-align: center;
        color: white;
    }
    &__h3 {
        font-family: $ff-base;
        font-size: 1.8rem;
        margin: 0.1rem 0 1rem 0;
        text-transform: uppercase;
    }
    &__ul {
        display: flex;
        gap: 1.5rem;
        justify-content: center;
        align-items: center;
    }
    &__li {
        list-style: none;
        font-family: $ff-base;
        padding: 0.6rem 0;
        a {
            margin: 0 0.5rem;
            padding: 0.2rem;
            color: white;
            font-size: 1em;
            text-decoration: none;
            transition: all 0.3s ease-out;
        };
         a:hover {
             padding: 1rem;
             color: $primary-color;
         }
    }
}

// .active {
//     border-bottom: 0.3rem solid $primary-color;
// }

.fixed {
    position: fixed;
    top: 0%;
}

.scroll-section {
    margin-top: 5rem;
}
