.live {
    width: 100%;
    background-color: black;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-align: center;
    padding: 13rem 0 5rem 0;
    &__h2 {
        font-size: 9rem;
        font-weight: 800;
    //Phone
    @media screen and (max-device-width: 414px) {
        font-size: 5rem;
    }           
    }
    &__h3 {
        font-family: $ff-base;
        font-size: 1rem;
        margin-top: 2rem;
        //Phone
        @media screen and (max-device-width: 414px) {
        padding: 0 0 4rem 0;
        } 
    }
    //Big screen
    @media screen 
    and (min-device-width: 1920px) 
    and (min-device-height: 1080px) 
    and (-webkit-min-device-pixel-ratio: 1) {
        height: 100vh;    

    }
    //Phone
    @media screen and (max-device-width: 414px) {
        padding: 11rem 1rem 0 1rem;
    }    
}

.cat-list {
    display: flex;
    gap: 3rem;
    font-family: $ff-base;
    font-size: 1.5rem;
    background-color: rgba(51, 48, 48, 0.74);
    padding: 2.5rem;
    margin: 2rem 0rem;
    text-transform: uppercase;
}

.cat-list_item:hover {
    color: $primary-color;
}

.active {
    color: $primary-color;
    border-bottom: 0.3rem solid $primary-color;
    padding: 1rem;
}

.filter-date-wrapper {
    font-family: $ff-base;
    font-size: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}