.search__section {
    padding: 5rem 2rem 5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 1rem;
    text-align: center;
}
//no results styles
.no-results {
    border-radius: 15px;
    padding: 2rem 4rem;
    text-align: center;
    color: white;
    font-family: $ff-base;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
} 
.no-results__h2 {
    font-size: 5rem;
    font-family: $ff-base-2;
    text-transform: uppercase;
}

.no-results__try-again {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
    padding: 2rem 0;
  
    &-text {
        font-size: 2rem;
        line-height: 4rem;
    }
}

.result-found {
    padding: 12rem 2rem 5rem 2rem;
    color: white;
    font-family: $ff-base;
}
.result-found__h1 {
    font-size: 3rem;
    font-family: $ff-base-2;
}
.search-results-wrapper {
    color: white;
}
.search-results_ul {
    list-style: none;
    line-height: 3rem;
}
.search-results_li {
    font-family: $ff-base;
}