.team {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    justify-content: center;
    padding: 13rem 5rem;
    background-color: black;
    color: white;
    &__h2 {
        font-size: 9rem;
        font-weight: 900;
        margin-bottom: -0.5rem;
        text-transform: uppercase;
        //Big screen
        @media screen 
        and (min-device-width: 1920px) 
        and (min-device-height: 1080px) 
        and (-webkit-min-device-pixel-ratio: 1) {
            font-size: 9.5rem;
            font-weight: bold;
        }
        //Phone
        @media screen and (max-device-width: 414px) {
            font-size: 5rem;
            margin: 0 0 5rem 0;   
        }
    }
    //Phone
    @media screen and (max-device-width: 414px) {
        padding: 10rem 1rem 0 1rem;  
    }
}

.team-cards {
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    padding: 5rem 0;
    gap: 1rem;
    justify-content: space-evenly;
    align-content:center;

    &__card {
        width: 25vw;
        height: 50vh;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: white;
        //Big screen
        @media screen 
        and (min-device-width: 1920px) 
        and (min-device-height: 1080px) 
        and (-webkit-min-device-pixel-ratio: 1) {
            width: 20vw;
            height: 40vh;      
        }
        //Phone
        @media screen and (max-device-width: 414px) {
            width: 100%;
            height: 45vh;  
        }
    }
    &__content {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1rem;
        padding: 1.5rem;
        height: 55%;
        //text
        font-family: $ff-base;
        color: black;
 
    }
    &__img {
        object-fit: cover;
        width: 100%;
        height: 45%;
        //Big screen
        @media screen 
        and (min-device-width: 1920px) {
            height: 60%;     
        }
        //Phone
        @media screen and (max-device-width: 414px) {
            height: 60%; 
        }        
    }
    &__title {
        font-size: 1.4rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
        font-weight: 400;
    }
    &__logo-img {
        object-fit: cover;
        width: 20%;
        height: auto;
        //Big screen
        @media screen 
        and (min-device-width: 1920px) {
            width: 15%;    
        }
    }
    &__logo-text {
        font-size: 1rem;
        font-weight: lighter;
        font-family: $ff-base;
        text-transform: uppercase;
    }
    &__card-text {
        font-size: 1rem;
        align-self: flex-start;
    }
    //Big screen
    @media screen 
    and (min-device-width: 1920px) {
        padding: 10rem 15rem 0 15rem;
        gap: 2rem; 
        align-items: stretch;   
    }
    //Phone
    @media screen and (max-device-width: 414px) {
        padding: 1rem;
        flex-flow: column nowrap;
    }
}