.tv {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    justify-content: center;
    padding: 13rem 5rem 0 5rem;
    background-color: black;
    color: white;
    &__h2 {
        font-size: 9rem;
        font-weight: 900;
        margin-bottom: -0.5rem;
        text-transform: uppercase;
        //phone
        @media screen and (max-device-width: 414px) {
            font-size: 5rem;
            margin-top: 10rem;    
        }
    }
    &__intro-wrapper {
        text-align: center;
        font-family: $ff-base;
        font-size: 1rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-content: center;
        align-items: center;
        width: 100%;
        height: 40vh;
        padding: 0 3rem;
        line-height: 1.5rem;
        //Big screen
        @media screen 
        and (min-device-width: 1920px) 
        and (min-device-height: 1080px) 
        and (-webkit-min-device-pixel-ratio: 1) {
            padding: 0.8rem 19rem; 
            height: 20vh;   
        }
        //phone
        @media screen and (max-device-width: 414px) {
            padding: 10rem 1rem 15rem 1rem; 
            height: 40vh;     
        }
    }
    //Big screen
    @media screen 
    and (min-device-width: 1920px) 
    and (min-device-height: 1080px) 
    and (-webkit-min-device-pixel-ratio: 1) {
        padding: 13rem 15rem 0 15rem;    
    }
    //phone
    @media screen and (max-device-width: 414px) {
        padding: 1rem;    
    }
}

.tv-cards {
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    padding: 5rem 0;
    gap: 1rem;
    justify-content: space-evenly;
    align-content: flex-start;

    &__card {
        width: 25vw;
        height: 50vh;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        background-color: white;
        //Big screen
        @media screen 
        and (min-device-width: 1920px) 
        and (min-device-height: 1080px) 
        and (-webkit-min-device-pixel-ratio: 1) {
            width: 20vw;
            height: 43vh;  
        }
        //phone
        @media screen and (max-device-width: 414px) {
            width: 100%;
            height: 43vh;     
        }        
    }
    &__content {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1rem;
        padding: 1rem;
        height: 55%;
        //text
        font-family: $ff-base;
        color: black;
        //Big screen
        @media screen 
        and (min-device-width: 1920px) {
            padding: 2rem 1.3rem;
        }
    }
    &__img {
        object-fit: cover;
        width: 100%;
        height: 45%;
        @media screen 
        and (min-device-width: 1920px) 
        and (min-device-height: 1080px) 
        and (-webkit-min-device-pixel-ratio: 1) {
            height: 55%;    
        }
    }
    &__title {
        font-size: 2rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
    &__logo-img {
        object-fit: cover;
        width: 20%;
        height: auto;
        align-self: flex-start;
        @media screen 
        and (min-device-width: 1920px) 
        and (min-device-height: 1080px) 
        and (-webkit-min-device-pixel-ratio: 1) {
            width: 15%;    
        }
    }
    &__logo-text {
        font-size: 1rem;
        font-weight: lighter;
        font-family: $ff-base;
        text-transform: uppercase;
        align-self: flex-start;
        @media screen 
        and (min-device-width: 1920px) 
        and (min-device-height: 1080px) 
        and (-webkit-min-device-pixel-ratio: 1) {
            font-size: 1.2rem;  
        }
    }
    &__anchor {
        align-self: flex-end;
        text-transform: uppercase;
        text-decoration: underline;
        width: fit-content;
        font-size: 0.8rem;
    }
    &__card-text {
        font-size: 0.8rem;
        align-self: flex-end;
        text-transform: uppercase;
    }
    //Big screen 
    @media screen 
    and (min-device-width: 1920px) 
    and (min-device-height: 1080px) 
    and (-webkit-min-device-pixel-ratio: 1) {
        padding: 6rem 5rem 0 5rem;    
    }
    //phone
    @media screen and (max-device-width: 414px) {
        padding: 1rem;    
    }
}