.search {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 5rem;
    justify-content: center;
    align-items: center;

    &__h2{
        color: white;
        font-size: 9rem;
        text-transform: uppercase;
        margin: 15rem 0 0 0;
    }

}

//search form

.search-form {
    padding: 2rem 0;
    background-color: rgba(94, 86, 86, 0.404);
    border-radius: 15px;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    border: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-transform: uppercase;
    &__svg-icon{
        width: 2rem;
        height: auto;
    }
}

.search-form__label {
    font-family: $ff-base;
    color: white;
    font-size: 1.5rem;
}

.search-form__input {
    padding: 1rem;
    width: 40vw;
    border-radius: 15px;
    border: none;

    &--button {
        background-color: $primary-color;
        color: white;
        text-shadow: darken($primary-color, 20%) 0.03rem 0.05rem;
        text-transform: uppercase;
        font-family: $ff-base;
        font-size: 1rem;
    }
   
}

.search-results-wrapper {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 5rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}